html{
    background-image: url(https://img.lovepik.com/background/20211021/medium/lovepik-binary-code-background-image_400423918.jpg);
}

h2 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(248, 1, 248);
    background-color: black;
    border: white 2px solid;
}

h2 {
    border: rgb(44, 27, 16) 2px solid;
    background-color: rgb(248, 1, 248);
}

.especial {
    border:rgb(248, 1, 248) 2px solid;
    background-color:rgb(15, 15, 13);
    color:white;
}
    
    li.spacious.elegant {                   
    margin: 0em;
    }
    
    ul.my-things li {
    margin: 0em;
    }

a, li {
    border:rgb(0, 0, 0) 2px solid;
    color:rgb(255,255,255);
    background-color: rgb(0,0,0);
}

img + h2 {
    font-weight:lighter;
}

html {
    margin: 0 auto;
    text-align: center;
    color: white;
}

ol {
    background-color:rgb(0, 0, 0);
}

ul.fondolista {
    background-color:rgb(0, 0, 0);
    text-align: center;
}

